html, body {
    height: 100%;
    margin: 0;
  }
  
  body {
    margin: 0;
    padding-bottom: 60px; /* Set the height of your footer */
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  
  .footer {
    background-color: #f8f9fa;
    padding: 20px;
    text-align: center;
    width: 100%;
    text-align: center;
  }
  .app-container {
    min-height: 100vh;
    flex-grow: 1;
    background-color: #8fbc8f;
  }