
<div>
    <button (click)="showClients()">Clients</button>
    <button (click)="showAgencies()">Agencies</button>
    <button (click)="logout()">Logout</button>
</div>

<table *ngIf="displayAgencies">
    <thead>
      <tr>
        <th>Agency name</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let agency of agencies">
        <td (click)="navigateToAgency(agency.id)">{{ agency.name }}</td>
      </tr>
    </tbody>
  </table>
<table *ngIf="displayClients">
  <thead>
    <tr>
      <th>Username</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let client of clients">
      <td (click)="navigateToClient(client.username)">{{ client.username }}</td>
    </tr>
  </tbody>
</table>
<hr>
<h3>Requests</h3>
<div *ngFor="let request of registrationRequests">
    <div>
        <table>
        <tr>
            <td><h4>Username: {{request}}</h4></td>
            <td><button (click)="allowRegistration(request)">Allow</button></td>
            <td><button (click)="denyRegistration(request)">Deny</button></td>
        </tr>
        </table>
    </div>
</div>
<hr>
