.back-button {
    background-color:#f8f9fa;
    color: #000;
    border-color: #f8f9fa;
    transition: background-color 0.3s, border-color 0.3s, color 0.3s;
    margin-bottom: 10px;
  }
  
  .back-button:hover {
    background-color: #e5e5e5;
    color: #000;
    border-color: #e5e5e5;
  }
  
  .register-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f8f9fa;
    border: 1px solid #dee2e6;
    border-radius: 5px;
  }
  
  .register-container .form-group {
    margin-bottom: 10px;
  }
  
  .btn-lighter {
    background-color: #f8f9fa;
    color: #000;
    border-color: #f8f9fa;
    transition: background-color 0.3s, border-color 0.3s, color 0.3s;
  }
  
  .btn-lighter:hover {
    background-color: #e5e5e5;
    color: #000;
    border-color: #e5e5e5;
  }
  