<header>
  <nav class="navbar navbar-light bg-light">
    <div class="container">
      <button class="btn btn-lighter back-button" (click)="goBack()">Back</button>
    </div>
  </nav>
</header>
<div>
  

  <div class="container mt-4">
    <div class="row">
      <div class="col-12">
        <div class="register-container">
          <h2>Register</h2>

          <form (submit)="register()" #registerForm="ngForm" novalidate>
            <div class="form-group">
              <label for="userType">User Type:</label>
              <select id="userType" [(ngModel)]="userType" name="userType" required>
                <option value="client">Client</option>
                <option value="agency">Agency</option>
              </select>
            </div>

            <div class="form-group">
              <div class="mb-2">
                <label for="username">Username:</label>
                <input type="text" id="username" [(ngModel)]="username" name="username" required>
              </div>

              <div class="mb-2">
                <label for="password">Password:</label>
                <input type="password" id="password" [(ngModel)]="password" name="password" required>
              </div>

              <div class="mb-2">
                <label for="confirmPassword">Confirm Password:</label>
                <input type="password" id="confirmPassword" [(ngModel)]="confirmPassword" name="confirmPassword" required>
              </div>

              <div class="mb-2">
                <label for="phone">Phone Number:</label>
                <input type="text" id="phone" [(ngModel)]="phone" name="phone" required>
              </div>

              <div class="mb-2">
                <label for="email">Email:</label>
                <input type="email" id="email" [(ngModel)]="email" name="email" required>
              </div>

              <div *ngIf="userType === 'client'" class="mb-2">
                <div>
                  <label for="firstname">First Name:</label>
                  <input type="text" id="firstname" [(ngModel)]="firstname" name="firstname" required>
                </div>

                <div>
                  <label for="lastname">Last Name:</label>
                  <input type="text" id="lastname" [(ngModel)]="lastname" name="lastname" required>
                </div>
              </div>

              <div *ngIf="userType === 'agency'" class="mb-2">
                <div>
                  <label for="agencyName">Agency Name:</label>
                  <input type="text" id="agencyName" [(ngModel)]="agencyName" name="agencyName" required>
                </div>

                <div>
                  <label for="address">Address:</label>
                  <input type="text" id="address" [(ngModel)]="address" name="address" required>
                </div>

                <div>
                  <label for="uniqueNumber">Agency Unique Number:</label>
                  <input type="text" id="uniqueNumber" [(ngModel)]="uniqueNumber" name="uniqueNumber" required>
                </div>

                <div>
                  <label for="description">Agency Description:</label>
                  <textarea id="description" [(ngModel)]="description" name="description" required></textarea>
                </div>
              </div>
            </div>

            <div class="form-group">
              <form>
                <div>
                  <input type="file" (input)="imageSelected($event)" />
                </div>
                <br>
                <div>
                  <button *ngIf="imageChoosen" type="submit" (click)="upload()">Upload</button>
                </div>
              </form>
            </div>
            <div *ngIf="!validRegistration" class="alert alert-danger">
              {{ errorMessage }}
            </div>
            <button class="btn btn-lighter" type="submit" [disabled]="!registerForm.form.valid">Register</button>
          </form>

          <div *ngIf="passwordError" class="alert alert-danger">
            {{ passwordError }}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
