<div class="object-container">
  <table class="table">
    <thead>
      <tr>
        <th>Type</th>
        <th>Address</th>
        <th>Number of Rooms</th>
        <th>Size</th>
        <th>Show scheme</th>
        <th>Scheme</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let obj of objects">
        <td>{{ obj.type }}</td>
        <td>{{ obj.address }}</td>
        <td>{{ obj.numberOfRooms }}</td>
        <td>{{ obj.size }}</td>
        <td><button class="btn btn-lighter" (click)="showScheme(obj)">Show scheme</button></td>
        <td>
          <app-canvas *ngIf="selectedObject === obj" [width]="250" [height]="120" [numberOfRooms]="obj.numberOfRooms"
            [roomOneStatus]="'white'" [roomTwoStatus]="'white'" [roomThreeStatus]="'white'">
          </app-canvas>
        </td>
      </tr>
    </tbody>
  </table>

  <div>
    <button class="btn btn-lighter" (click)="addObject()">Add object</button>
  </div>

  <div *ngIf="addObjectForm">
    <button class="btn btn-lighter" (click)="jsonAdd()">Add from JSON</button>
    <button class="btn btn-lighter" (click)="manualAdd()">Add manually</button>
    <form *ngIf="manualInput" (submit)="submitObject()" #objectForm="ngForm" novalidate>
      <div>
        <label>Object type:</label>
        <input type="text" [(ngModel)]="newObject.type" name="type" required>
      </div>
      <div>
        <label>Address:</label>
        <input type="text" [(ngModel)]="newObject.address" name="address" required>
      </div>
      <div>
        <label>Number of rooms:</label>
        <input type="number" [(ngModel)]="newObject.numberOfRooms" name="rooms" required min="1" max="3">
      </div>
      <div>
        <label>Object size:</label>
        <input type="text" [(ngModel)]="newObject.size" name="size" required>
      </div>
      <div *ngIf="objectForm.controls['rooms']?.errors" class="error-message">
        Number of rooms must be between 1 and 3.
      </div>
      <div>
        <button class="btn btn-lighter" type="submit" [disabled]="!objectForm.form.valid || objectForm.controls['rooms'].errors">Submit</button>
      </div>
    </form>
    <div *ngIf="fileInput">
      <div>
        <input type="file" (input)="onUpload($event)">
        <button class="btn btn-lighter" *ngIf="fileChoosen" (click)="uploadFile()">Upload</button>
      </div>
    </div>
  </div>
</div>
