<table>
    <tr>
        <th>Firstname</th>
        <th>Lastname</th>
        <th>Email</th>
        <th>Object type</th>
        <th>Address</th>
        <th>Number of rooms</th>
        <th>Size</th>
    </tr>
    <tr *ngFor="let req of requestedJobs; let i = index">
        <td>{{req.clientInfo.firstname}}</td>
        <td>{{req.clientInfo.lastname}}</td>
        <td>{{req.clientInfo.email}}</td>
        <td>{{req.objectInfo.type}}</td>
        <td>{{req.objectInfo.address}}</td>
        <td>{{req.objectInfo.numberOfRooms}}</td>
        <td>{{req.objectInfo.size}}</td>
        <td><button (click)="acceptJob(req)">Accept</button></td>
        <td><button (click)="declineJob(req, i)">Decline</button></td>
    </tr>
    <ng-container *ngFor="let req of requestedJobs; let i = index">
        <tr>
          <td>
            <input type="text" placeholder="Enter job offer" *ngIf="req.clicked" name="price" [(ngModel)]="req.price">
          </td>
          <td><button (click)="sendOffer(req)" *ngIf="req.clicked">Send offer</button></td>
        </tr>
      </ng-container>
</table>
<br>
<table>
  <tr>
    <th>Object</th>
  </tr>
  <tr *ngFor="let job of activeJobs">
    <td>{{'Object ' + job.objectID}}</td>
    <td><button (click)="showProgress(job)">Show progress</button></td>
    <td><button (click)="updateObject(job)" *ngIf="job.started">Update object</button></td>
    <td><button (click)="assignWorkers(job)" *ngIf="!job.started">Assign workers</button></td>
    <td><app-canvas *ngIf="selectedJob === job && selectedObject" [width]="250" [height]="120" [numberOfRooms]="selectedObject.numberOfRooms"
      [roomOneStatus]="job.roomOneStatus" [roomTwoStatus]="job.roomTwoStatus" [roomThreeStatus]="job.roomThreeStatus"></app-canvas></td>
  </tr>
  <ng-container *ngFor="let job of activeJobs">
    <ng-container *ngIf="job === assignedJob">
      <tr *ngFor="let roomIndex of getRange(job.numberOfRooms)">
        <td>Room {{ roomIndex + 1 }}</td>
        <td>
          <select [(ngModel)]="selectedWorkers[roomIndex]">
            <option *ngFor="let worker of inactiveWorkers" [ngValue]="worker">{{ 'Worker ' + worker.id }}</option>
          </select>
        </td>
        <td><button (click)="assignWorker(selectedWorkers[roomIndex], job, roomIndex)">Assign</button></td>
      </tr>
    </ng-container>
    <ng-container *ngIf="job === updatedJob">
      <tr *ngFor="let roomIndex of getRange(job.numberOfRooms)">
        <td>Room {{ roomIndex + 1 }}</td>
        <td><button (click)="finishRoom(job, roomIndex)">Finish</button></td>
      </tr>
    </ng-container>
  </ng-container>
</table>