<div class="requests-table">
  <h2>Job Requests</h2>
  <table>
    <tr>
      <th>Firstname</th>
      <th>Lastname</th>
      <th>Email</th>
      <th>Object Type</th>
      <th>Address</th>
      <th>Number of Rooms</th>
      <th>Size</th>
      <th>Action</th>
    </tr>
    <tr *ngFor="let req of requestedJobs; let i = index">
      <td>{{ req.clientInfo.firstname }}</td>
      <td>{{ req.clientInfo.lastname }}</td>
      <td>{{ req.clientInfo.email }}</td>
      <td>{{ req.objectInfo.type }}</td>
      <td>{{ req.objectInfo.address }}</td>
      <td>{{ req.objectInfo.numberOfRooms }}</td>
      <td>{{ req.objectInfo.size }}</td>
      <td>
        <button class="btn btn-lighter" (click)="acceptJob(req)">Accept</button>
        <button class="btn btn-lighter" (click)="declineJob(req, i)">Decline</button>
      </td>
    </tr>
    <ng-container *ngFor="let req of requestedJobs; let i = index">
      <tr>
        <td colspan="8" *ngIf="req.clicked">
          <input type="text" placeholder="Enter job offer" name="price" [(ngModel)]="req.price">
          <button class="btn btn-lighter" (click)="sendOffer(req)" *ngIf="req.price > 0">Send offer</button>
          <p class="alert alert-danger" *ngIf="req.price <= 0">Please enter a positive value.</p>
        </td>
        
      </tr>
    </ng-container>
  </table>
</div>

<div class="jobs-table">
  <h2>Active Jobs</h2>
  <table>
    <tr>
      <th>Object Type</th>
      <th>Address</th>
      <th>Number of Rooms</th>
      <th>Size</th>
      <th>Action</th>
      <th>Schema</th>
    </tr>
    <tr *ngFor="let job of activeJobs">
      <td>{{ job.objectInfo?.type }}</td>
      <td>{{ job.objectInfo?.address }}</td>
      <td>{{ job.objectInfo?.numberOfRooms }}</td>
      <td>{{ job.objectInfo?.size }}</td>
      
      <td>
        <button class="btn btn-lighter" (click)="showProgress(job)">Show Progress</button>
        <button class="btn btn-lighter" (click)="updateObject(job)" *ngIf="job.started">Update Object</button>
        <button class="btn btn-lighter" (click)="assignWorkers(job)" *ngIf="!job.started">Assign Workers</button>
      </td>
      <td>
        <app-canvas *ngIf="selectedJob === job && selectedObject" [width]="250" [height]="120" [numberOfRooms]="selectedObject?.numberOfRooms"
          [roomOneStatus]="job.roomOneStatus" [roomTwoStatus]="job.roomTwoStatus" [roomThreeStatus]="job.roomThreeStatus"></app-canvas>
      </td>
    </tr>
    <ng-container *ngFor="let job of activeJobs">
      <ng-container *ngIf="job === assignedJob">
        <tr *ngFor="let roomIndex of getRange(job.numberOfRooms)">
          <td>Room {{ roomIndex + 1 }}</td>
          <td>
            <select [(ngModel)]="selectedWorkers[roomIndex]">
              <option *ngFor="let worker of inactiveWorkers" [ngValue]="worker">{{ 'Worker ' + worker.id }}</option>
            </select>
          </td>
          <td>
            <button class="btn btn-lighter" (click)="assignWorker(selectedWorkers[roomIndex], job, roomIndex)">Assign</button>
          </td>
        </tr>
      </ng-container>
      <ng-container *ngIf="job === updatedJob">
        <tr *ngFor="let roomIndex of getRange(job.numberOfRooms)">
          <td>Room {{ roomIndex + 1 }}</td>
          <td><button class="btn btn-lighter" (click)="finishRoom(job, roomIndex)">Finish</button></td>
        </tr>
      </ng-container>
    </ng-container>
  </table>
</div>
